<launch>
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf_gazebo)/xacro/car_union.urdf.xacro" />
    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find urdf_gazebo)/config/new.world" /> <!-- new.world通过打开world.world insert type2的模型再由gazebo保存的文件-->>
    </include>

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
    <!-- 手动遥控指令 -->
    <!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py  -->
</launch>
